{% extends "base.html" %}

{% block title %}Add New Inscription{% endblock title %}

{% block content %}
<div class="col-md-12">
    <form method="POST" class="post-form" action="/addnewinscri">
    {% csrf_token %}
    <div class="container">
        <div class="col-12">
        <h3>Entrer les details</h3>
        </div>

       <div class="mb-3">
            <label>Cour:</label>
            {{ form.cour }}
        </div>
        <div class="mb-3">
            <label>Etudiant:</label>
            {{ form.etudiant }}
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
    </form>
</div>
{% endblock content %}