<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css"/>
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="../static/navbar/style.css" rel="stylesheet">

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== BOXICONS ===============-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="../static/navbar/style.css">
</head>
<body>
           <navbar>
  <div class="navbar nav navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <div class="v-flex">
        <div class="navbar-body">
          <div class="navbar-start">
            <div class="hamburger-menu">
              <div class="ic_menu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
            </div>
            <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/personal-1c08e.appspot.com/o/logo.svg?alt=media&token=7a322d4e-6088-4647-975a-0f36107a5547">
          </div>
          <div class="search">
            <input type="text" class="search-textbox" placeholder="Search">
            <a class="ico-btn search-btn"><i class="material-icons ic_search">&#xE8B6;</i></a>
            <a class="ico-btn clear-btn"><i class="material-icons ic_clear">&#xE14C;</i></a>
          </div>
          <div class="navbar-end">
            <a style="text-transform: uppercase">Get in</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-fixed-top navbar-inverse tabs paper-shadow-bottom-z-2">
    <div class="container-fluid">
      <ul class="navbar-body list-inline">
        <li class="active"><a class="active">Home</a></li>
        <li><a>Potion Lab</a></li>
        <li><a>Stats</a></li>
        <li><a>System Log Feed</a></li>
      </ul>
      <div class="tab-highlighter"></div>
    </div>
  </div>
  <!--2 navbar for pushing 1 above after scrolling (Not Implemented yet.)-->
</navbar>
<div class="container">
    <div class="row">
        <h4>Elearning</h4>
        {% block content %}{% endblock %}
    </div>
</div>


<!-- Bootstrap core JavaScript-->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../static/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="../static/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="../static/js/demo/chart-area-demo.js"></script>
<script src="../static/js/demo/chart-pie-demo.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#bootstrapdatatable').DataTable({
                "aLengthMenu": [[3, 5, 10, 25, -1], [3, 5, 10, 25, "All"]],
                "iDisplayLength": 25
            }
        );
    });
</script>
         <script src="../static/navbar/main.js"></script>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script>
    const list=document.querySelectorAll('.list');
    function activeLink(){
        list.forEach((item)=>item.classList.remove('active'));
        this.classList.add('active')
    }
    list.forEach((item)=>item.addEventListener('click',activeLink));
</script>
</body>
</html>