{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class='text-center'> List des Chapitres </h1>
        <div class="row">
            <div class="container mt-5 mb-3">
                <div class="row">
                    {% for chaptres in chaptres %}

                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button
                                            class="accordion-button"
                                            type="button"
                                            data-mdb-toggle="collapse"
                                            data-mdb-target="#collapseOne"
                                            aria-expanded="true"
                                            aria-controls="collapseOne"
                                    >
                                        {{ chaptres.chap_title }}
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                     aria-labelledby="headingOne" data-mdb-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <strong>This is the first item's accordion body.</strong> It is hidden by
                                        default,
                                        until the collapse plugin adds the appropriate classes that we use to style each
                                        element. These classes control the overall appearance, as well as the showing
                                        and
                                        hiding via CSS transitions. You can modify any of this with custom CSS or
                                        overriding our default variables. It's also worth noting that just about any
                                        HTML
                                        can go within the <strong>.accordion-body</strong>, though the transition does
                                        limit overflow.
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
