{% extends "base.html" %}

{% block title %}Modifier un Cour{% endblock title %}

{% block content %}
<div class="col-md-12">
    <form method="POST" class="post-form" action="/updateCour/{{cour.id}}">
    {% csrf_token %}
    <div class="container">
        <div class="col-12">
            <h3>Update Details</h3>
        </div>
        <div class="mb-3">
            <label>Cour ID:</label>
            <input type="text" class="form-control" name="id" id="id_id" required maxlength="20" value="{{ cour.id }}"/>
        </div>
        <div class="mb-3">
            <label>Nom:</label>
            <input type="text" class="form-control" name="nom" id="id_nom" required maxlength="100" value="{{ cour.nom }}" />
        </div>
        <div class="mb-3">
            <label>Code:</label>
            <input type="text" class="form-control" name="code" id="id_code" required maxlength="254" value="{{ cour.code }}" />
        </div>
        <div class="mb-3">
            <label>Enseignant:</label>
            <select id="id_enseignant" name="enseignant">
            <option value="{{cour.enseignant.id}}">{{ cour.enseignant.nom }}</option>
                {% for enseignant in enseignants %}

                 <option value="{{cour.enseignant.id}}">{{ cour.enseignant.nom }}</option>
                        {% endfor %}


</select>

            <input type="text" class="form-control" name="enseignant" id="id_enseignant" required maxlength="15" value="{{ cour.enseignant.nom }}" />
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-success btn-lg">Update</button>
        </div>
    </div>
    </form>
{% endblock content %}