{% extends "base.html" %}

{% block title %}Liste des etudiants{% endblock title %}

{% block content %}
 <div class="col-md-12">
        <span><a href="/addnewetudiant" class="btn btn-primary">Ajouter nouveau etudiant</a></span>
        <div class="table-responsive">
        <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
        <thead>
            <th><input type="checkbox" id="checkall" /></th>
            <th>ID</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Groupe</th>
            <th>Formation</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
        {% for etudiant in etudiants %}
            <tr>
            <td><input type="checkbox" class="checkthis" /></td>
            <td>{{ etudiant.id }}</td>
            <td>{{ etudiant.nom }}</td>
            <td>{{ etudiant.prenom }}</td>
            <td>{{ etudiant.email }}</td>
            <td>{{ etudiant.group.nom }}</td>
            <td>{{ etudiant.formation.nom }}</td>
            <td><a href="/editEtudiant/{{ etudiant.id }}" class="btn btn-primary">Modifier</a></td>
            <td><a href="/delete/{{ etudiant.id }}" class="btn btn-danger">Supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
    </div>
{% endblock content %}